* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src:  
        url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}


$black: #060000;
$gray: #535353;
$white: #ffffff;
$red: #f50a3d;

@mixin button{
    border: none;
    background-color: $black;
    color: $white;
    padding: 8px 24px;
    cursor: pointer;
    
    i{
        margin-right: .4rem;
    }

    &:hover{
        background-color: $gray;
    }
}

@mixin button-frame{
    border: solid 1px $black;
    background-color: transparent;
    cursor: pointer;

    &:hover{
        border: solid 1px $red;
        color: $red;
    }
}

@mixin input {
    border: solid 2px $black;
    border-radius: 0;
    padding: .5rem;

    &:focus{
        outline: none;
        filter: opacity(60%);
        
    }

}