@import url(/Users/judy/Desktop/todolist-vue/scss/reset.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}

body {
  font-family: 'Roboto', sans-serif;
  color: #060000;
  background-color: #060000;
}

.screen {
  margin: 1rem;
}

.container {
  border: solid 2px #060000;
  -webkit-box-shadow: 8px 8px #535353;
          box-shadow: 8px 8px #535353;
  width: 100%;
  max-width: 480px;
  height: 80vh;
  margin: 4rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container h1 {
  text-align: center;
  font-size: 40px;
}

.container .input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
}

.container .input-wrap input[type=text] {
  width: 100%;
  margin-right: .5rem;
  border: solid 1.5px #060000;
  border-radius: 0;
  padding: .5rem;
}

.container .input-wrap input[type=text]:focus {
  outline: none;
  border: solid 1.5px #535353;
  border-radius: 0;
}

.container .input-wrap input[type=submit] {
  border: none;
  background-color: #060000;
  color: #ffffff;
  padding: 8px 32px;
}

.container .input-wrap input[type=submit] i {
  margin-right: .4rem;
}

.container .input-wrap input[type=submit]:hover {
  background-color: #535353;
}

.container .input-wrap button {
  border: none;
  background-color: #060000;
  color: #ffffff;
  padding: 8px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .input-wrap button i {
  margin-right: .4rem;
}

.container .input-wrap button:hover {
  background-color: #535353;
}

ul {
  padding: 0;
  margin: .8rem;
  overflow: scroll;
}

ul li {
  border-bottom: solid 1px #535353;
  padding-bottom: 1rem;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin: 1rem;
}

ul li:last-child {
  border-bottom: none;
}

ul li .list-wrap {
  width: 60%;
  word-wrap: break-word;
  overflow: hidden;
}

ul li .button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul li .button-wrap button {
  font-size: 10px;
  border: none;
  background-color: #060000;
  color: #ffffff;
  padding: 8px 32px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul li .button-wrap button i {
  margin-right: .4rem;
}

ul li .button-wrap button:hover {
  background-color: #535353;
}

ul li .button-wrap button:first-child {
  margin-right: .4rem;
}

ul li .button-wrap button i {
  margin-right: .4rem;
}
/*# sourceMappingURL=style.css.map */