<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <div id="app" class="screen">
        <div class="container">
            <h1>Todo List</h1>

            <div v-if="!isEditing" class="input-wrap">
                <input type="text" v-model="todo" @keyup.enter="storeTodo" placeholder="Input your task...">
                <button @click="storeTodo"> 
                    <i class="fas fa-plus"></i>
                    Add
                </button>   

            </div>
            <div v-else class="input-wrap">
                <input type="text" v-model="todo" @keyup.enter="storeTodo">
                <input type="submit" value="update" @click="updateTodo">
            </div>

            <ul>
                <li v-for="(todo, index) in todos">
                    <span class="list-wrap">
    
                        <input type="checkbox" id="done">
                        <span>
                            {{ todo }}              
                        </span>
                        &nbsp
                        <input type="checkbox" id="star">
          
                    </span>
                    <span class="button-wrap">
                        <button @click="editTodo(index, todo)" class="edit">
                            <i class="fas fa-edit"></i>
                            Edit
                        </button>
                        <button @click="deleteTodo(index)" class="delete">
                            <i class="fas fa-trash-alt"></i>
                            Delete
                        </button>
                    </span>
                </li>
            </ul>

        </div>        
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data:{
                isEditing: false,
                selectedIndex: null,
                todo: '',
                todos: ['task1', 'task2', 'task3'],
            },
            methods:{
                storeTodo(){
                    this.todos.push(this.todo)
                    this.todo = ''
                    function empty(){
                    var value = this.todo.trim;
                    if(value){
                        return;
                        }
                    }
                },

                editTodo(index, todo){
                    this.todo = todo
                    this.selectedIndex = index
                    this.isEditing = true
                },

                updateTodo(index){
                    this.todos.splice(this.selectedIndex, 1, this.todo)
                    this.isEditing = false
                    this.todo = ''
                },

                deleteTodo(todo,index){
                    
                    console.log(`${todo.content}`)
                    let result = confirm(`Are you sure you wanna delete?`);
                    if (result){
                        this.todos.splice(index, 1)
                    }
                }

            }
        })
    </script>

<footer>
    Made with &#128150 by 
    <a href="https://www.linkedin.com/in/judy50024/" target="_blank">
    Judy Li
    </a>
    &copy; 2022
</footer>
</body>
</html>